.btnFavorite {
    width: min-content;
    display: flex;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--color-primary);
    border: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
    cursor: pointer;
    transition: outline-color 0.2s ease, transform 0.1s ease;

    &:hover {
        outline-color: var(--color-primary-hover);
    }

    &:active {
        transform: scale(0.98)
    }

    &:disabled {
        opacity: .5;
        pointer-events: none;
    }
}
